.banner{
    width: 100%;
    background-color:  rgb(252, 240, 196);;

}

.banner-center{
    width: 450px;
    margin: 0 auto;
}


.banner img{
    width: 100%;
    height: auto;
    margin-top: 60px;
}
.goal-box{
   width: 100%;
}
.goal-center{
    width: 55%;
    margin: 0 auto;

}