/* header */
header {
    border: none;
    letter-spacing: 0;
}
section{
    position: relative;
}

.toss_nav ul li a {
    color: #4e5968 !important;
    border-radius: 8px;
}

.toss_nav ul li a:hover, .toss_nav ul li a:active {
    color: #0056b3 !important;
}

.white_nav {
    color: #4e5968 !important;
}

.white_nav:hover, .white_nav:active {
    background-color: #F3F2F1 !important;
}

@media only screen and (min-width: 768px) {
    .toss_nav ul li a {
        padding: 9px 11px !important;
    }

    .toss_nav .logo svg {
        width: 78px;
        height: 20px;
    }
}

/* scrollbox */
.scrollbox {
    position: absolute;
    top: 58px;
    width: 100%;
    overflow: hidden;
}

/* section */
section {
    margin: 31px auto 190px;
    width: 100%;
    height: 339px;
    max-width: 624px;
    min-width: 682px;
    padding-left: 5px;
}

h1 {
    color: #454f5d;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.3em;
}

section p {
    color: #3a4961;
    font-size: 23.5px;
    line-height: 1.42em;
    margin-top: 40px;
    letter-spacing: -0.44px;
}

.cretbox form {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
}

.cretbox form label {
    color: #333d4b;
    font-size: 13px;
    line-height: 1.3em;
}

.cretbox form label span {
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 4px;
}

.cretbox input {
    width: 100%;
    height: 60px;
    background-color: #f9fafb;
    border: 1px solid #F3F4F5;
    border-radius: 14px;
    caret-color: #1b64da;
    color: #333d4b;
    font-family: "TDSiOSsubset", "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Basier Square", "Apple SD Gothic Neo", Roboto, "Noto Sans KR", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    padding-left: 16px;
}

.cretbox input::placeholder {
    color: #8B95A1;
}

.cretbox input:focus {
    background-color: #F3F6FA;
    outline: none;
    border-color: #EEF1F5;
}

.telbox:focus-within label {
    color: #1b64da;
}

.bdbox:focus-within label {
    color: #1b64da;
}


.telbox {
    width: 238px;
    margin-right: 20px;
}

.bdbox {
    width: 148px;
    margin-right: 20px;
}

.blueBtn {
    background-color: #3182f6;
    border: none;
    border-radius: 16px;
    color: #fff;
    width: 120px;
    height: 60px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.blueBtn:hover, .blueBtn:active {
    background-color: #2460B6;
    color: #C0BFBD;
}

/* 올바르게 적고 확인을 누르면 나오는 문구 */
.aftertext {
    position: absolute;
    top: 0;
    margin-top: 31px;

    opacity: 0;
    display: none;
}

.aftertext h1 {
    margin-bottom: 80px;
}

.pcappBtn {
    display: flex;
    flex-direction: column;
}

#pc_app {
    height: 63px;
    width: 236px;
    margin-bottom: 16px;
}

#app_pc {
    height: 63px;
    width: 221px;
    background-color: #e8f3ff;
    border: none;
    border-radius: 16px;
    color: #3182f6;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

#app_pc:hover, #app_pc:active {
    background-color: #CADFFD;

}

@keyframes aftertext_start {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* 팝업창 */
.popbox {
    position: relative;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    left: 0;
    top: 0;
    z-index: 997;
    display: none;
}

.pop {
    background-color: #fff;
    border-radius: 16px;
    padding: 22px 16px 16px 22px;
    max-width: 480px;
    width: 100%;
    z-index: 998;
    position: absolute;
    left: 50%;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(-50%, -88px); 
    
    opacity: 0;
}

@keyframes pop_start {
    0% {
        transform: translate(-50%, 321px);
    }
    80% {
        transform: translate(-50%, -100px);        
    }
    100% {
        transform: translate(-50%, -88px);            
    }
}

@keyframes pop_end {
    0% {
        transform: translate(-50%, -88px);
    }
    100% {
        transform: translate(-50%, 321px);            
    }
}


@media only screen and (max-width: 639px) {
    .pop {
        margin-left: 3%;
    }
}

@media only screen and (max-width: 547px) {
    .pop {
        margin-left: 11%;
    }
}

@media only screen and (max-width: 425px) {
    .pop {
        margin-left: 30%;
    }

    .pop button {
        margin-left: 324px !important;
    }
}

.poptext {
    color: #333d4b;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 8px;
}

.pop button {
    border: none;
    border-radius: 12px;
    background-color: transparent;
    color: #3182f6;
    margin-top: 14px;
    padding: 4px 10px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 390px;
    cursor: pointer;
}

.pop button:active {
    background-color: rgba(2,32,71,.05);
}
