html, body{
    width:100%;
    overflow-x:hidden;
    letter-spacing: -0.03em;
    position: relative;
}

/* header */
header {
    background: transparent;
    border: none;
}
  
.toss_nav ul li a {
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
}
  
.toss_nav ul li a:hover, .toss_nav ul li a:active {
    color: #fff;
    background-color: rgba(217,217,255, 0.11);
}
  
.white_nav {
    color: #4e5968 !important;
}
  
.white_nav:hover, .white_nav:active {
    color: #0056b3 !important;
    background-color: #F3F2F1 !important;
}
  
@media only screen and (min-width: 768px) {
    .toss_nav ul li a {
      padding: 9px 11px;
      padding-top: 13px;
    }
  
    .toss_nav .logo svg {
      width: 78px;
      height: 20px;
    }
}

/* br */
.mobile_br {
    display: block;
}

@media only screen and (min-width: 768px) {
    .mobile_br {
        display: none;
    }
}

/* 섹션 */
section {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* 섹션1 */
.first {
    width: 100%;
    height: 100vh;
}

.first-secBg {
    background: url("../images/vision-pc@2x.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: -1;
}


.first-sec{
    max-width: 783px;
    width: 100%;
    height: 200vh;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.first_text {
    color: #fff;
    text-align: center;
    padding-top: 190px;
    position: fixed;
    
}

@keyframes arrowicon {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
    50% {
      opacity: 1;
      transform: translateY(-7px);  
    }
    100% {
      opacity: 0;
      transform: translateY(0px);         
    }
  }

  
.icontxt {
  margin-top: 40px;
  text-align: center;
  animation: arrowicon ease 2s;
  animation-iteration-count: infinite;
}

.icontxt i {
    font-size: 26px;
}

.text_2, .text_3{
    opacity: 0 ;
    padding-top: 250px;
}

.text_1 h2 {
    font-size: 70px;
    font-weight: bold;
    line-height: 85px;
}

.text_1 p {
    font-size: 22px;
    line-height: 34px;
    margin-top: 35px;
}

.text_2 h2 {
    font-size: 55px;
    font-weight: bold;
    line-height: 73px;
}

.text_3 h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
}

/* 섹션2 */
.second {
    margin-top: 1700px;
    max-width: 900px;
    position: relative;
}

.second-sec {
    margin-bottom: 160px;
}

.videobox {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
}

iframe {
    border-radius: 17px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 15px 15px 23px -1px rgb(0 0 0 / 23%);
}

.second_text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 60px;
}

.second_text .text_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px 40px;
}

.second_text .text_right {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 30px;
    align-items: flex-start;
}

.second_text h2 {
    color: #212529;
    font-size: 27px;
    font-weight: bold;
    line-height: 43px;
}

.second_text p {
    color: #333d4b;
    font-size: 17px;
    font-weight: 800;
}

.second svg {
    height: 19px;
    margin-bottom: 25px;
}

.second a button {
    background-color: #f2f4f6;
    border: none;
    color: #4e5968;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 18px;
    border-radius: 8px;
    margin-top: 30px;
}

.second a button:hover, .second a button:active {
    background-color: #d1d6db;
}

@media only screen and (min-width: 768px) {
    .second_text {
        flex-direction: row;
    }

}

/* 섹션3 */
.third img{
    width: 120%;
}

.ani_tr{
    width: 5220px;
    height: 172px;
    margin-bottom: 12px;
}
.left_transform{
    background: url(https://static.toss.im/assets/career/2021/pc-outro-1.png) 0px center / 33.3% repeat-x;
    animation: 75s ease 0s infinite normal none running slide;

}
.right_transform{
    background: url(https://static.toss.im/assets/career/2021/pc-outro-2.png) 0px center / 33.3% repeat-x;
    animation: 75s ease-out 0s infinite reverse none running slide;
}
.dp_ani{
    background: url(https://static.toss.im/assets/career/2021/pc-outro-1.png) 0px center / 33.3% repeat-x;
    animation: 75s ease 0s infinite normal none running slide; 
    display: none;     
}

@keyframes slide {
    0% {
        transform: translate3d(0px, 0px, 0px);    
    }
    100% {
        transform: translate3d(-732px, 0px, 0px);
    }
  }

/* 섹션4 */
.fourth {
    padding: 76px 0px 190px;
    text-align: center;
    color: #333d4b;
}

.fourth h2 {
    font-size: 56px;
    font-weight: bold;
    line-height: 73px;
    margin-bottom: 23px;
}

.fourth p {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 46px;
}

.fourth a button {
    background-color: #3182f6;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 28px;
    border-radius: 8px;
}

.fourth a button:hover, .fourth a button:active {
    background-color: #1b64da;
}



/* 반응형 웹 */
@media only screen and (max-width: 768px) {
    .first-sec{
        max-width: 385px;
        width: 100%;
    }
    .text_1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        margin: 0 auto;
    }
    .text_1 h2 {
        font-size: 34px;
        line-height: 42px;

    }
    .text_1 p {
        font-size: 12px;
        line-height: 17px;
    }
    
    .text_2 h2 {
        margin-left: 10px;
        line-height: 36px;
        font-size: 27px;
    }
    
    .text_3 h2 {
        max-width: 300px;
        font-size: 18px;
        width: 100%;
        margin-left: 42px;
        line-height: 20px;
        display: block;
    }

    .second_text {
        flex-direction: column;
        margin-top: 60px;
    }

    .ani_tr{
        width: 3000px;
        height: 100px;
        margin-bottom: 6px;
    }
    .dp_ani{
        display: block;     
    }

    .fourth h2 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 23px;
    }
    
    .fourth p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 46px;
    }
    .btn_fixed_wrapper{
        width: 100%;
        position: fixed;
        bottom: 10px;
        z-index: 100;

    }

    .btn_fixed_wrapper a button{
        background-color: #3182f6;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 18px 28px;
        width: 98%;
        border-radius: 8px;
        margin: 5px;
    }

    .btn_fixed_wrapper a button:hover,  .btn_fixed_wrapper a button:active {
        background-color: #1b64da;
    }
}