html, body{
    width:100%;
    overflow-x:hidden;
    letter-spacing: -0.03em;
}

/* header */
header {
    background: transparent;
    border: none;
}
  
.toss_nav ul li a {
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
}
  
.toss_nav ul li a:hover, .toss_nav ul li a:active {
    color: #fff;
    background-color: rgba(217,217,255, 0.11);
}
  
.white_nav {
    color: #4e5968 !important;
}
  
.white_nav:hover, .white_nav:active {
    color: #0056b3 !important;
    background-color: #F3F2F1 !important;
}
  
@media only screen and (min-width: 768px) {
    .toss_nav ul li a {
      padding: 9px 11px;
      padding-top: 13px;
    }
  
    .toss_nav .logo svg {
      width: 78px;
      height: 20px;
    }
}

/* br */
.mobile_br {
    display: block;
}

@media only screen and (min-width: 768px) {
    .mobile_br {
        display: none;
    }
}

/* 섹션 */
section {
    width: 100%;
    margin: 0 auto;
}

/* 섹션1 */
.first {
    width: 100%;
    height: 100vh;
}

.first-sec {
    background: url("../images/vision-pc@2x.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.first_text {
    color: #fff;
    text-align: center;
}

@keyframes arrowicon {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
    50% {
      opacity: 1;
      transform: translateY(-7px);  
    }
    100% {
      opacity: 0;
      transform: translateY(0px);         
    }
  }

  
.first-sec .icontxt {
  margin-top: 40px;
  text-align: center;
  animation: arrowicon ease 2s;
  animation-iteration-count: infinite;
}

.first-sec .icontxt i {
    font-size: 26px;
}

.text_1 h2 {
    font-size: 70px;
    font-weight: bold;
    line-height: 85px;
}

.text_1 p {
    font-size: 22px;
    line-height: 34px;
    margin-top: 35px;
}

.text_2 h2 {
    font-size: 55px;
    font-weight: bold;
    line-height: 73px;
}

.text_3 h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
}

/* 섹션2 */
.second {
    max-width: 900px;
}

.second-sec {
    margin-bottom: 160px;
}

.videobox {
    position: relative;
    padding-bottom: 56.25%;
}

iframe {
    border-radius: 17px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 15px 15px 23px -1px rgb(0 0 0 / 23%);
}

.second_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
}

.second_text .text_left {
    display: flex;
    flex-direction: column;
}

.second_text .text_right {
    display: flex;
    flex-direction: column;
}

.second_text h2 {
    color: #212529;
    font-size: 32px;
    font-weight: bold;
    line-height: 43px;
}

.second_text p {
    color: #333d4b;
    font-size: 17px;
}

.second svg {
    height: 19px;
    width: 100%;
}

.second a button {
    background-color: #f2f4f6;
    border: none;
    color: #4e5968;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 18px;
    border-radius: 8px;
    margin-top: 30px;
}

.second a button:hover, .second a button:active {
    background-color: #d1d6db;
}

@media only screen and (min-width: 768px) {
    .second_text {
        flex-direction: row;
    }

}

/* 섹션3 */


/* 섹션4 */
.fourth {
    padding: 76px 0px 190px;
    text-align: center;
    color: #333d4b;
}

.fourth h2 {
    font-size: 56px;
    font-weight: bold;
    line-height: 73px;
    margin-bottom: 23px;
}

.fourth p {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 46px;
}

.fourth a button {
    background-color: #3182f6;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 28px;
    border-radius: 8px;
}

.fourth a button:hover, .fourth a button:active {
    background-color: #1b64da;
}