.first-section {
  background: url("../images/intro1.jpg") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
  position: relative;
}

.first-section .txt {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30%;
  margin-bottom: 200px;
}

.first-section .txt i {
  margin-top: 40px;
}

.second-section {
  background: #131418;
  color: white;
  height: 100vh;
  padding: 200px 0;
}

.second-section h4 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 100px;
}

.second-section ul {
  margin-left: 5%;
}

.second-section ul li {
  margin-bottom: 30px;
}

.second-section p {
  color: #b0b8c1;
  letter-spacing: -1px;
  font-size: 17px;
}

.second-section h3 {
  font-size: 40px;
}

.second-section span {
  color: #6b7684;
  font-size: 15px;
  letter-spacing: -1px;
}

.third-section {
  width: 100vw;
  height: 100vh;
  background: url("../images/intro2.jpg") no-repeat center;
  background-size: cover;
}

.third-section .modal {
  background: rgba(26, 30, 36, 0.65);
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
}

.third-section h4 {
  color: #b0b8c1;
  font-weight: normal;
  margin-bottom: 10px;
}

.fourth-section {
  background: #121417;
  color: white;
  padding-bottom: 100px;
}

.fourth-section h3 {
  font-size: 36px;
  padding: 40px;
  margin-bottom: 20px;
}

ul.year-tab {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(78, 89, 104);
  margin-bottom: 20px;
}

ul.year-tab li {
  font-size: 20px;
  color: rgb(78, 89, 104);
}

ul.year-tab li.year-active {
  color: white;
  border-bottom: 2px solid white;
}
.annual-contents {
  padding: 10px 25px;
}

.annual-contents li {
  margin-bottom: 50px;
}

.annual-contents span {
  color: rgb(139, 149, 161);
  font-size: 18px;
  font-weight: bold;
}

.annual-contents p {
  margin-top: 5px;
}

.fifth-section {
  width: 100vw;
  height: auto;
  padding: 80px 0;
}

.fifth-section li {
  padding-left: 15px;
}

.fifth-section .finance h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.fifth-section .finance p {
  font-size: 20px;
  text-align: center;
  color: #4e5968;
  margin-bottom: 40px;
}

.fifth-section li .contents {
  background-size: cover;
  margin-left: 15px;
  width: 90vw;
  height: 400px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.fifth-section li .core {
  background: url("../images/intro3.jpg") no-repeat center;
  background-size: cover;
}

li .contents h4 {
  color: #333d4b;
  font-size: 28px;
  letter-spacing: -1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fifth-section li .stock {
  background: url("../images/intro4.jpg") no-repeat center;
}

.fifth-section li .pay {
  background: url("../images/intro5.jpg") no-repeat center;
}

.fifth-section li .insure {
  background: url("../images/intro6.jpg") no-repeat center;
}

.fifth-section li .bank {
  background: url("../images/intro7.jpg") no-repeat center;
}

.fifth-section li .c-ex {
  background: url("../images/intro8.jpg") no-repeat left center;
}

@media screen and (min-width: 768px) {
  .first-section .txt {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 20%;
    margin-bottom: 200px;
  }
  .first-section .txt p {
    margin-bottom: 100px;
  }
  .first-section .txt i {
    font-size: 36px;
  }

  .second-section h4,
  .second-section ul {
    max-width: 1200px;
  }
  .second-section h4 {
    text-align: left;
    margin-left: 15%;
    font-size: 36px;
  }
  .second-section ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
  }
  .second-section li {
    margin-right: 100px;
  }
  .second-section p {
    font-size: 20px;
  }
  .second-section h3 {
    font-size: 66px;
  }
  .second-section li.mr {
    margin-right: 400px;
  }
  .second-section li.pl {
    padding-left: 220px;
  }

  .third-section .modal {
    width: 800px;
    padding: 4% 7.5%;
    font-size: 28px;
    margin: 0 auto;
  }

  .fourth-section h3 {
    text-align: center;
    font-size: 40px;
  }
  .fourth-section .annual-wrapper {
    display: flex;
    margin-left: 20%;
  }
  ul.year-tab {
    display: block;
    border: none;
    margin-right: 50px;
  }
  ul.year-tab li.year-active {
    border-bottom: none;
  }
  ul.year-tab li {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
  }
  .fourth-section .annual-contents {
    padding-top: 0;
  }

  .fifth-section {
    padding: 150px 20px;
  }
  .fifth-section .finance {
    margin-bottom: 50px;
  }
  .fifth-section .finance h3 {
    font-size: 48px;
    margin-top: 20px;
  }
  .fifth-section .finance p {
    font-size: 24px;
  }
  .fifth-section li .contents {
    background-size: cover;
    margin-left: 15px;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 10px;
  }
  .fifth-section li .contents h4 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .fifth-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.sixth-section {
  width: 100vw;
  background-color: #f9fafb;
  padding: 50px 20px;
}

.sixth-section .investor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.sixth-section img {
  width: 180px;
  height: 80px;
  display: block;
}

.sixth-section h3 {
  font-size: 32px;
  text-align: center;
}

.seventh-section {
  padding: 100px 50px;
}

.seventh-section h3 {
  font-size: 32px;
  text-align: center;
  padding: 20px 0;
}

.seventh-section nav ul {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #4e5968;
  margin-bottom: 30px;
}

.seventh-section nav ul li {
  margin-right: 10px;
  padding: 10px 15px;
}

.seventh-section nav ul li.news-active {
  background-color: #f2f4f6;
  border-radius: 20px;
  color: black;
}

.news-contents {
  margin-top: 70px;
}

.news-contents span {
  color: rgb(49, 130, 246);
  margin-right: 10px;
  font-weight: bold;
  letter-spacing: -1px;
}

.news-contents p {
  font-size: 14px;
  color: rgb(176, 184, 193);
  font-weight: 500;
}

.news-contents h4 {
  color: rgb(51, 61, 75);
  padding: 7px 0;
  margin-bottom: 40px;
  font-size: 20px;
}

.news-contents li {
  border-bottom: 1px solid rgba(69, 79, 93, 0.07);
  margin-bottom: 30px;
}

.seventh-section button {
  display: block;
  padding: 15px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  margin-top: 70px;
  font-size: 15px;
  font-weight: bold;
  color: #4e5968;
  cursor: pointer;
}
