.first-section {
  background: url("../images/intro1.jpg") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
  position: relative;
}

.first-section .txt {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 15%;
  left: 26%;
}

.first-section .txt i {
  margin-top: 40px;
}

.second-section {
  background: #131418;
  color: white;
  height: 100vh;
  padding: 200px 0;
}

.second-section h4 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 100px;
}

.second-section ul {
  margin-left: 5%;
}

.second-section ul li {
  margin-bottom: 30px;
}

.second-section p {
  color: #b0b8c1;
  letter-spacing: -1px;
  font-size: 17px;
}

.second-section h3 {
  font-size: 40px;
}

.second-section span {
  color: #6b7684;
  font-size: 15px;
  letter-spacing: -1px;
}

.third-section {
  width: 100vw;
  height: 100vh;
  background: url("../images/intro2.jpg") no-repeat center;
  background-size: cover;
}

.third-section .modal {
  background: rgba(26, 30, 36, 0.65);
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 30px 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
