.select_lang_wrapper {
  padding-left: 50px;
  display: flex;
  position: relative;
}

.lang_eng a {
  opacity: 0.3;
}

.lang_bar {
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 106px;
  content: "";
  width: 1px;
  margin: 3px 0 0 1px;
  height: 14px;
  background-color: #3b3b46;
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .lang_bar {
    top: 15px;
    left: 135px;
  }
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

/* 첫화면 */
.first-wrapper {
  position: relative;
  width: 100%;
}
.bg {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100vh;
}
.bg img,
.bg video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.bg img {
  display: none;
}
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: none;
}
.txt-btn {
  text-align: center;
  margin-top: 200px;
}
.txt-btn h1 {
  margin-top: 100px;
  font-size: 60px;
  margin-bottom: 60px;
}
.txt-btn a {
  text-decoration: none;
  background-color: #333;
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 16px;
}
.txt-btn a:hover {
  opacity: 0.8;
}
.txt-btn a img {
  vertical-align: -8px;
}
.txt-btn a span {
  display: inline-block;
}
.button {
  position: absolute;
  bottom: 50px;
  left: 47%;
}
.button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* 조회 */
.second-wrapper {
  background-color: #f9fafb;
  padding: 200px 0;
  text-align: center;
  width: 100%;
}
.second-wrapper p {
  font-size: 28px;
  font-weight: bold;
}

/* 홈소비 */
.title {
  padding-left: 30px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}
.title h4 {
  font-size: 28px;
  color: #3182f6;
}
.title h2 {
  font-size: 48px;
  margin-top: 30px;
}
section.third {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  background-color: white;
}
.third-wrapper {
  position: relative;
  overflow: hidden;
  height: 1400px;
  max-width: 1000px;
  margin: 0 auto;
}
.third-wrapper .img1 {
  position: absolute;
  top: 50px;
  right: -120px;
  z-index: 1;
}
.third-wrapper .img2 {
  position: absolute;
  top: 400px;
  left: -120px;
  z-index: 1;
}
.third-wrapper .txt {
  position: absolute;
  bottom: 250px;
  right: 50px;
  z-index: 2;
}
.third-wrapper .txt p {
  font-size: 22px;
  font-weight: bold;
}

/* 송금 */
section.fourth {
  background-color: #f9fafb;
  padding: 250px 0;
}
.fourth-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.video-wrapper {
  overflow: hidden;
  width: 90%;
  margin: 100px 5% 30px 5%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  position: relative;
}
.video-wrapper .video {
  position: relative;
  margin-left: -40%;
}
.video-wrapper .video video {
  width: 500px;
}
.video-wrapper .video-txt {
  position: absolute;
  right: 5%;
}
.video-wrapper .video-txt p {
  font-size: 24px;
}
.video-wrapper .video-txt p span,
.video-wrapper .video-txt p i {
  color: #3182f6;
}
.check {
  display: flex;
  margin: 0 5%;
  justify-content: space-between;
}
.check .inquire {
  background-color: #191f28;
  border-radius: 30px;
  margin-right: 20px;
  height: 540px;
  padding: 40px;
  flex-basis: 30%;
  overflow: hidden;
}
.check .inquire img {
  display: block;
  margin: 50px auto;
}
.check .reserve {
  background-color: white;
  border-radius: 30px;
  flex-basis: 65%;
  padding-bottom: 20px;
}
.check .inquire h4 {
  color: rgb(176, 184, 193);
  font-size: 32px;
  margin-bottom: 80px;
}
.check .inquire h4 span {
  color: white;
}
.check .reserve p {
  color: rgb(51, 61, 75);
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 12%;
}
.check .reserve p span {
  color: #3182f6;
}
.check .reserve img.phone {
  width: 100%;
}

/* 대출 */
.fifth-wrapper {
  background-color: white;
  position: relative;
  overflow: hidden;
  height: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 200px;
}
.fifth-wrapper .title,
.fifth-wrapper .txt {
  z-index: 3;
}
.img-wrapper {
  position: absolute;
  top: 10px;
  right: -120px;
  z-index: 1;
}
.fifth-wrapper .title {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: space-between;
}
.fifth-wrapper .txt h4 {
  color: rgb(51, 61, 75);
  font-size: 45px;
  margin-bottom: 10px;
}
.fifth-wrapper .txt h4#third-appear {
  margin-bottom: 50px;
}
.fifth-wrapper .txt h4 span.gray {
  color: #8b95a1;
}
.fifth-wrapper .txt h4 span.lightgray {
  color: #d1d6db;
}
.fifth-wrapper .txt p {
  font-size: 20px;
  font-weight: bold;
}

/* 신용 */
section.sixth {
  background-color: #f9fafb;
}
.sixth-wrapper {
  padding: 200px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.sixth-wrapper .title {
  margin-bottom: 60px;
}
.sixth-wrapper .credit {
  background-color: #191f28;
  margin: 0 auto;
  width: 90%;
  border-radius: 20px;
  padding: 30px 50px 0 40px;
  position: relative;
}
.credit .txt {
  position: absolute;
}
.credit .img {
  width: 100%;
  text-align: center;
}
.sixth-wrapper .credit h4 {
  font-size: 36px;
  color: white;
}
.sixth-wrapper .credit h4 span {
  color: rgb(176, 184, 193);
}
.sixth-wrapper .credit-score {
  margin: 0 auto;
  width: 90%;
}
.credit-score {
  padding-top: 30px;
  display: flex;
  font-size: 20px;
  color: rgb(51, 61, 75);
  font-weight: bold;
  justify-content: space-between;
}
.credit-score p {
  margin-bottom: 30px;
}
.credit-score img {
  width: 100%;
}
.credit-score .submit {
  padding: 40px;
  background-color: white;
  border-radius: 20px;
  flex: 1 1 45%;
  margin-right: 30px;
}
.credit-score .alarm {
  padding: 40px;
  background-color: #add1ff;
  border-radius: 20px;
  flex: 1 1 45%;
}

/* 투자 */
.seventh-wrapper {
  padding: 200px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.seventh-wrapper .contents {
  position: relative;
}
.seventh-wrapper .img {
  position: relative;

  text-align: center;
  width: 600px;
  margin: 0 auto;
  z-index: 3;
}
.seventh-wrapper .inner-contents {
  position: absolute;
  top: 90px;
  left: 160px;
  /* 반응형 필요 */
  width: 280px;
  margin: 0 auto;
  z-index: 1;
}
.seventh-wrapper .invest {
  position: absolute;
  display: flex;
  top: 540px;
  left: -10%;
  z-index: 2;
}
.seventh-wrapper img {
  width: 100%;
  height: 100%;
}
.seventh-wrapper .inner-contents img {
  width: 100%;
  height: 100%;
}
.seventh-wrapper .invest img {
  width: 150px;
  margin-right: 15px;
}
.seventh-wrapper .txt {
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 400px;
  z-index: 4;
}
.seventh-wrapper .left-txt {
  left: 20px;
}
.seventh-wrapper .right-txt {
  right: 20px;
}
.seventh-wrapper p {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 꼭 필요했던 금융 */
.eighth-wrapper {
  background-image: url(../images/main_section2_4_big.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 800px;
  text-align: center;
}
.eighth-wrapper h1 {
  font-size: 80px;
  color: white;
  padding: 300px 0;
}

/* 토스로 나에게 딱 맞게 */
.ninth-wrapper {
  padding: 200px 0;
}
.ninth-wrapper h2 {
  font-size: 54px;
  margin-bottom: 150px;
  margin-left: 30px;
}
.cont-container {
  width: 95%;
  margin: 0 auto;
}
.cont-container img {
  width: 100%;
}
.first-txt {
  display: flex;
  margin-top: 50px;
}
.first-txt h3 {
  font-size: 40px;
  color: #191f28;
  margin-bottom: 20px;
}
h3.gray-txt {
  color: #b0b8c1;
}
.first-cont img {
  display: block;
  margin: 0 auto;
  max-width: 740px;
}
.first-cont p {
  font-size: 18px;
  font-weight: 600;
  color: #333d4b;
}
.ninth-wrapper h2 {
  margin: 0 auto;
  max-width: 1000px;
}
.cont {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}
.second-cont {
  display: flex;
  justify-content: space-between;
}
.second-big {
  margin-right: 20px;
  flex: 0 1 60%;
}
.second-big img {
  width: 100%;
  margin-bottom: 50px;
}
.second-big h3 {
  font-size: 34px;
}
.second-small {
  padding-top: 10%;
  flex: 0 1 40%;
}
.second-small p {
  width: 80%;
  color: #333d4b;
  font-size: 19px;
  font-weight: 600;
  height: 100px;
  margin: 0 auto;
}
.second-small img {
  display: block;
  width: 80%;
  margin: 30px auto;
}
.third-cont .first-txt {
  flex-direction: column;
  flex: 0 1 50%;
}
.third-cont .first-txt h3 {
  margin-bottom: 0;
  font-size: 36px;
}
.third-cont .txt-title {
  display: flex;
  justify-content: space-between;
}
.third-cont .second-txt {
  margin-top: 50px;
  color: #333d4b;
  font-size: 20px;
  font-weight: 600;
  flex: 0 1 50%;
}

/* 알면 좋은 금융 */
section.tenth {
  background-color: #f9fafb;
  padding: 200px 0;
}
.tenth-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.tenth-wrapper .title {
  padding-left: 0;
  margin-bottom: 80px;
}
.tenth-wrapper h2 {
  font-size: 44px;
  margin-top: 15px;
}
.tenth-wrapper ul {
  display: flex;
  flex-wrap: wrap;
}
.tenth-wrapper ul .img-container {
  background-color: #191f28;
  width: 110px;
  padding: 28px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.tenth-wrapper ul .img-container img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.tenth-wrapper ul .yellow {
  background-color: #ffe69b;
}
.tenth-wrapper ul .gray {
  background-color: #f2f4f6;
}
.tenth-wrapper ul .blue {
  background-color: #bce9e9;
}
.tenth-wrapper ul .green {
  background-color: #aeefd5;
}
.tenth-wrapper ul .purple {
  background-color: #edccf8;
}
.tenth-wrapper ul .skyblue {
  background-color: #e8f3ff;
}
.tenth-wrapper ul li {
  width: 400px;
  margin-bottom: 80px;
  margin-right: 100px;
}
.tenth-wrapper ul h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333d4b;
}
.tenth-wrapper ul p {
  color: #8b95a1;
  font-size: 18px;
  font-weight: 500;
}

/* 사업도 토스와 함께 */
section.eleven {
  background-color: black;
}
.eleventh-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
  color: white;
}
.eleventh-wrapper img {
  width: 100%;
}
.eleventh-wrapper .title {
  padding: 0;
  text-align: center;
  margin-bottom: 150px;
}
.eleventh-wrapper .title h1 {
  font-size: 54px;
  margin-bottom: 30px;
}
.eleventh-wrapper h3 {
  color: #b0b8c1;
  font-size: 28px;
}
.btn ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.btn ul li {
  max-width: 280px;
  margin: 0 50px 80px 0;
}
.btn ul li h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.btn ul li h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.btn ul li button {
  background-color: #3182f6;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.btn ul li button:hover {
  background-color: #1b64da;
}

footer {
  background-color: #191f28;
}
footer .footer_top ul li.title {
  padding: 0;
  color: #b0b8c1;
  margin-bottom: 15px;
}
footer .footer_top ul li.title:hover {
  cursor: default;
}
footer .footer_top ul li a {
  letter-spacing: -1px;
}
footer .footer_top ul li a:hover {
  color: #6b7684;
}
.footer_bottom .infobox p strong {
  color: #b0b8c1;
  font-size: 15px;
}
.footer_bottom .smallListbox ul a strong {
  color: #b0b8c1;
}
.footer_bottom .smallListbox ul a:hover {
  color: #6b7684;
}
