section {
  background-color: rgb(29, 29, 33);
  color: white;
}

.first-sec {
  background-color: rgb(14, 16, 16);
  padding-top: 120px;
  text-align: center;
}
.first-sec .txt-wrapper {
  width: 500px;
  margin: 0 auto;
}
.txt-wrapper h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.txt-wrapper p {
  font-size: 15px;
  color: rgb(229, 232, 235);
}
.first-sec .img-wrapper {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.first-sec img {
  width: 100%;
}
.first-sec img:last-child {
  width: 50px;
  opacity: 0.2;
}

.second-sec {
  padding: 80px 0 50px 20px;
}
.second-sec h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.second-sec p {
  font-size: 15px;
  margin-bottom: 30px;
}
.second-sec .img-container img {
  width: 100%;
}

.third-sec {
  text-align: center;
  padding-bottom: 50px;
}
.third-sec h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.third-sec p {
  font-size: 15px;
  margin-bottom: 20px;
}
.third-sec .iphone {
  width: 100%;
  margin: 0 auto;
  background: #0e0e10;
}
.third-sec .iphone img {
  width: 450px;
}
.third-sec .content {
  width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}
.third-sec .content ul {
  width: 100%;
  margin-left: 100px;
}
.third-sec .content li {
  text-align: left;
}
.third-sec .content img {
  margin: 20px 0;
}
.third-sec .content h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.third-sec .content p {
  font-size: 15px;
  color: rgb(209, 214, 219);
}

.fourth-sec {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.fourth-sec .invest h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.fourth-sec .invest p {
  font-size: 14px;
}
.fourth-sec .invest-img {
  padding: 40px 0;
}
.fourth-sec .invest-img img {
  width: 100%;
}
.fourth-sec .rewards {
  text-align: left;
}
.fourth-sec .rewards li {
  margin-bottom: 45px;
}
.fourth-sec .rewards h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.fourth-sec .rewards p {
  font-size: 14px;
  color: rgb(209, 214, 219);
}
.fourth-sec .security-first {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(45, 45, 50);
  padding: 40px 30px;
  text-align: left;
}
.fourth-sec .security-first .heartimg img {
  width: 100%;
}
.fourth-sec .security-first h2 {
  font-size: 28px;
}
.fourth-sec .security-first p {
  color: rgb(176, 184, 193);
  padding: 30px 0;
  font-size: 17px;
  letter-spacing: -1px;
}
.fourth-sec .security-first button {
  background-color: rgba(222, 222, 255, 0.19);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  letter-spacing: -1px;
}
